<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <h2 class="visibility-hidden">{{ t 'search' }}</h2>
  <div class="hero-inner">
      <h1>Firstup Help Center</h1>
      {{search submit=false instant=true class='search search-full' placeholder='Search the Knowledge Base...'}}
  </div>
</section>

<!-- Upgrade Block --
<section class="upgrade-banner">
  <div class="container">
    <ul class="blocks-list">

      <li class="blocks-item">
        <a href="https://training.firstup.io" class="upgrade-item-link">
          <div class="upgrade-icon"><img src="{{asset 'mortarboard.svg'}}"></div>
          <div class="upgrade-link">
            <h3>Training Center</h3>
            <p>Learn through self-guided eLearning courses</p>
          </div>
        </a>
      </li>

      <li class="blocks-item">
        <a href="https://partner.socialchorus.com" class="upgrade-item-link">
          <div class="upgrade-icon"><img src="{{asset 'api.svg'}}"></div>
          <div class="upgrade-link">
            <h3>Developer Portal</h3>
            <p>Dive into our Partner API using our developer documentation</p>
          </div>
        </a>
      </li>

      <li class="blocks-item">
        <a href="https://advocate.socialchorus.com/community/community/welcome" class="upgrade-item-link">
          <div class="upgrade-icon"><img src="{{asset 'chat.svg'}}"></div>
          <div class="upgrade-link">
            <h3>COMMunity</h3>
            <p>Connect with other customers in COMMunity</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>-->

<div class="container">
  <section class="section knowledge-base">
    <h2 style="text-align: center;">Cookie Settings</h2>
    <!-- GDPR and CCPA Cookie Declaration -->
    <script
      id="CookieDeclaration"
      src="https://consent.cookiebot.com/89bb519f-579c-41e2-b342-06d6f2003789/cd.js"
      type="text/javascript" async
      data-georegions="{'region':'US','cbid':'41b6594a-2df7-4b67-b60c-addb4a677c87'}"
    ></script>

    <!--<section class="categories blocks">
      <ul class="blocks-list">
            <li class="blocks-item">
              <a href='#' class="blocks-item-link">
                <span class="blocks-item-title">Name</span>
                <span class="blocks-item-description">Description</span>
              </a>
            </li>
      </ul>
    </section>-->
  </section>
</div>
